@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #212731;
  --secondary-color: #00adb5;
  --accent-color: #ced4de;
  --white-color: #ededed;
  --black-color: #1b1b1b;
  --blue-color: #1f5293;
  --red-color: #950101;
  --low-color: #e9f0e7;
  --mid-color: #fef5cc;
  --high-color: #fbe6e6;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #ffffff;
  }
}
